<app-header></app-header>

<section class="section_minha_conta" *ngIf="account$ | async as account">
  <div class="container">
    <profile-heards class="row"></profile-heards>
    <profile-body class="row">
      <app-menu-profile></app-menu-profile>
      <div class="col-12 col-md-6 col-lg-7">
        <div class="profileData d-flex justify-content-between flex-column">
          <mn-form class="form" [submitable]="updateDataPesonal" buttonName="Atualizar">
            <br>
            <h4>
              <strong>Informações Pessoais</strong>
            </h4>
            <br>

            <mn-input archetype="nome" placeholder="Nome Completo" [value]="account.name" (change)="changePersonalInfo($event, 'name')" size="sm" requery>
            </mn-input>
            <br>

            <mn-input archetype="cpf,cnpj" placeholder="CPF/CNPJ" [value]="account.cpfCnpj" (change)="changePersonalInfo($event, 'cpfCnpj')" size="sm" requery>
            </mn-input>
            <br>

            <mn-input archetype="phone" placeholder="Telefone" [value]="account.phone" (change)="changePersonalInfo($event, 'phone')" size="sm" requery>
            </mn-input>
            <br>


          </mn-form>
        </div>

        <br>
        <h4><strong>Informações de Login</strong></h4>
        <br>
        <mn-form class="form pt-4" buttonName="Atualizar" [submitable]="updateDataLogin">
          <mn-input archetype="email" placeholder="Email" [(value)]="account.email" (change)="changePersonalLogin($event, 'email')" size="sm" requery>
          </mn-input>
          <mn-input archetype="password" placeholder="Nova senha" (change)="changePersonalLogin($event, 'password')" size="sm" requery>
          </mn-input>
        </mn-form>

        <br>
        <h4><strong>Endereço</strong></h4>
        <br>
        <mn-form class="form pt-4" [submitable]="updateDataAddress" *ngIf="address$ | async as address">

          <mn-input archetype="address" placeholder="Rua" [(value)]="address.street" size="sm" requery>
          </mn-input>
          <br>
          <mn-input archetype="text" placeholder="Número" [(value)]="address.number" size="sm" requery>
          </mn-input>

          <mn-input archetype="text" placeholder="Cidade" [(value)]="address.city" size="sm" requery>
          </mn-input>

          <mn-input archetype="select" placeholder="Estado" [(value)]="address.state" size="sm" requery>
          </mn-input>

          <mn-input archetype="cep" placeholder="CEP" [(value)]="address.cep" size="sm" requery>
          </mn-input>

        </mn-form>

        <ng-template #loading>
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                <div>
                  <app-loading></app-loading>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </profile-body>
  </div>
</section>
