  <!--=========== minha conta ===========-->
  <section class="w-100 section_minha_conta mb-5">
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-7">
                <div class="w-100 profileData d-flex" style="flex-direction: column;">
                    <div>
                      <h5><strong>Pessoal</strong></h5>
                      <input [value]="user.name" type="text" name="nome" class="form-control rounded-0 border-0 px-0 py-4" placeholder="Nome completo" style="box-shadow: none; border-bottom: solid 1px #ccc !important;">

                      <input [value]="user.cnpj" type="text" name="cnpj" class="form-control rounded-0 border-0 px-0 py-4" placeholder="CNPJ" style="box-shadow: none; border-bottom: solid 1px #ccc !important;">

                      <input [value]="user.phone" type="text" name="telefone" class="form-control rounded-0 border-0 px-0 py-4" placeholder="Telefone" style="box-shadow: none; border-bottom: solid 1px #ccc !important;">

                      <button class="btn btn_green w-100 text-uppercase">Atualizar</button>
                    </div>

                    <div style="padding-top: 50px;">
                      <h5><strong>Informações de login</strong></h5>
                      <input [value]="user.email" type="email" name="email" class="form-control rounded-0 border-0 px-0 py-4" placeholder="Email" style="box-shadow: none; border-bottom: solid 1px #ccc !important;">


                      <input [value]="" type="password" name="senha" class="form-control rounded-0 border-0 px-0 py-4" placeholder="Nova senha" style="box-shadow: none; border-bottom: solid 1px #ccc !important;">


                      <input [value]="" type="password" name="senha_2" class="form-control rounded-0 border-0 px-0 py-4" placeholder="Confirmar senha" style="box-shadow: none; border-bottom: solid 1px #ccc !important;">

                    </div>
                    <button class="btn btn_green w-100 text-uppercase">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== fim minha conta ===========-->
