<!--=========== minha conta ===========-->
<section class="w-100 section_minha_conta mb-5">
  <div class="container">

    <!-- CAMINHO DE PÃO -->
    <div class="row">
      <div class="col-12 mb-3">
        <div style="white-space: nowrap; color: #686868;">
          Home <i class="fa fa-angle-right"></i>
          <strong style="color: #000; padding-left: 5px;">Minha conta</strong>
        </div>
      </div>
      <div class="col-12">
        <div class="pt-3 pl-3 mr-4"
          style="position: relative; background-image: url('assets/img/circles.png'); background-size: 72px 72px; background-repeat: no-repeat;">
          <h3 class="bg-white pt-2 px-3"><strong>Bem Vindo, {{user.name}}!</strong></h3>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-1"></div>

      <div class="col-12 col-md-4 col-lg-3 mb-4">
        <app-menu-profile></app-menu-profile>
      </div>

      <div class="col-12 col-md-6 col-lg-7">
        <div class="w-100 profileData d-flex justify-content-between flex-column">

          <mn-form class="form" [submitable]="updateDataPesonal" buttonName="Update">
            <span><h4>Informações Pessoais</h4></span>

            <mn-input archetype="nome" placeholder="Nome Completo" [(value)]="this.user.name" size="sm" requery>
            </mn-input>

            <mn-input archetype="cpf,cnpj" placeholder="CPF/CNPJ" [(value)]="this.cpf_cnpj" size="sm" requery>
            </mn-input>

            <mn-input archetype="phone" placeholder="Telefone" [(value)]="this.user.phone" size="sm" requery>
            </mn-input>

          </mn-form>

          <mn-form class="form pt-4" buttonName="Update"
          [submitable]="updateDataLogin">
          <span><h4>Informações de Login</h4></span>

            <mn-input archetype="email" placeholder="Email" [(value)]="this.user.email" size="sm" requery>
            </mn-input>
            <mn-input archetype="password" placeholder="Nova senha" [(value)]="password" size="sm" requery>
            </mn-input>
            <mn-input archetype="password" placeholder="Confirmar Senha" [(value)]="password_confirmation" size="sm"
              requery>
            </mn-input>
          </mn-form>

        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim minha conta ===========-->
