    <!--=========== minha conta ===========-->
    <section class="w-100 section_minha_conta mb-5">
      <div class="container">
          <div class="row">
              <div class="col-12 mb-3">
                  <div style="color: #686868;" >
                      Home <i class="fa fa-angle-right"></i>
                       Perfil <i class="fa fa-angle-right"></i>
                      <strong style="color: #000;"> Meus Pedidos</strong>
                  </div>
              </div>
              <div class="col-12">
                  <div class="pt-3 pl-3 mr-4" style="position: relative; background-image: url('assets/img/circles.png'); background-size: 72px 72px; background-repeat: no-repeat;">
                      <h3 class="bg-white pt-2 px-3"><strong>Meus pedido de compras</strong></h3>
                  </div>
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-md-1"></div>
              <div class="col-12 col-md-4 col-lg-3 mb-4">
                  <div class="mb-2"><a (click)="gotoRouter('profile/profile_data')" class="opt_menu_left" >Meus dados</a></div>
                  <div class="mb-2"><a class="opt_menu_left current_page">Meus Pedidos</a></div>
                  <div class="mb-2"><a  (click)="gotoRouter('profile/profile_data/cotacao')" class="opt_menu_left">Minhas Contações</a></div>
                  <div class="mb-2"><a  (click)="gotoRouter('exit')" class="opt_menu_left">Sair</a></div>
                  <hr class="mt-4 mb-0 d-md-none">
              </div>
              <div class="col-12 col-md-6 col-lg-7">
                  <div class="w-100 compra" *ngFor="let purchase of purchases">
                      <h5 class="mb-3"><strong>{{purchase.mes}} {{purchase.ano}}</strong></h5>
                      <div class="card mb-5" style="border-radius: 0;">
                          <div class="card-header d-block d-lg-flex justify-content-between align-items-center">
                              <div class="mb-3 mb-lg-0">
                                  <div>Vendido e entrege por</div>
                                  <h3 class="_color_green mb-0" style="font-weight: 700;">NATURAL</h3>
                              </div>
                              <div class="d-flex align-items-center">
                                  <i class="fa fa-exclamation-circle mr-2"></i>
                                  <h2 class="mb-0">
                                      {{purchase.purchases.length | currency:'BRL':true:'1.2-2' }}
                                      <i class="fa fa-angle-right ml-2"></i>
                                  </h2>
                              </div>
                          </div>
                          <div class="card-body p-0">
                              <table class="table mb-0">
                                  <thead>
                                      <tr>
                                          <th style="border-bottom: 0;">Produtos</th>
                                          <th class="border-bottom: 0;">Subtotal</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let item of purchase.purchases">
                                          <td>{{item.product_name}}</td>
                                          <td>{{item.price | currency:'BRL':true:'1.2-2'}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="card-footer text-right bg-transparent">
                              <button class="btn text-uppercase btn_green">Repetir pedido</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--=========== fim minha conta ===========-->
