<!-- AREA DE RECUPERAÇÃO DE SENHA -->
  <div class="row sectio-password">
    <div class="col-md-12">
      <div class="d-flex flex-column ">
        <div class="p-2 item text-center">
          <h3>Recuperação de Senha</h3>

            <p>Por favor, digite logo a baixo o e-mail de cadastro da conta para continuar
              <br> o processo de recuperação de senha.
            </p>
        </div>
        <div class="form-recovery">
          <mn-form #form [submitable]="onSubmit" buttonName="Continuar" [showToastForm]="true">
            <mn-input name="email" archetype="email"  placeholder="E-mail" requery></mn-input>
          </mn-form>
        </div>
      </div>
    </div>
  </div>
