<!-- AREA DE RECUPERAÇÃO DE SENHA -->
<div *ngIf="!success" class="row sectio-password">
  <div class="col-md-12">
    <div class="d-flex flex-column ">
      <div class="p-2 item text-center">
        <h3>Recuperação de Senha</h3>

          <p>Por favor, digite logo a baixo o e-mail de cadastro da conta para continuar
            <br> o processo de recuperação de senha.
          </p>
      </div>
      <div class="form-recovery">
        <mn-form #form [submitable]="onSubmit" buttonName="Continuar" [showToastForm]="true">
          <mn-input name="email" archetype="email"  placeholder="E-mail" requery></mn-input>
        </mn-form>
      </div>
    </div>
  </div>
</div>

<!-- SUCESSO ENVIO EMAIL -->
<div class="row sectio-password" *ngIf="success">
  <div class="col-md-12">
    <div class="d-flex flex-column ">
      <div class="p-2 item text-center">

        <!-- ICONE DE SUCESSO  CENTRALIZADO TOPO-->
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <i class="fa fa-check-circle fa-5x" style="color: green" aria-hidden="true"></i>
          </div>
        </div>

        <h3>Recuperação de Senha</h3>

          <p>Um e-mail foi enviado para o endereço informado, por favor, verifique sua caixa de entrada.
            <br> Caso não encontre o e-mail, verifique sua caixa de spam.
          </p>
      </div>
    </div>
  </div>
</div>
