<!--=========== footer ===========-->
<footer style="background: linear-gradient(134.99deg, #45842E 3.35%, #E0E454 99.07%);;">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <img style="width: 113px;" class="mb-3" src="assets/img/logo_2.svg">
        <div class="d-flex mb-3">
          <div class="mr-2"><img style="width: 24px; filter: invert(1);" src="assets/img/location.png"></div>
          <div class="text-white" style="font-size: 14px;">Rua Fernandes Moraes de Alvim, 271 Vila Andrade - São Paulo / SP</div>
        </div>
        <div class="d-flex mb-3">
          <div class="mr-2"><img style="width: 24px; filter: invert(1);" src="assets/img/phone.png"></div>
          <div class="text-white" style="font-size: 14px;">(11) 99999-9999</div>
        </div>
        <div class="d-flex mb-3">
          <div class="mr-2"><img style="width: 24px; filter: invert(1);" src="assets/img/mail.png"></div>
          <div class="text-white" style="font-size: 14px;">email-endereço.com</div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h6 class="text-white mb-4">SITEMAP</h6>
        <a href="#" class="d-block float-left w-100 text-white mb-2">Sobre a prima</a>
        <a href="#" class="d-block float-left w-100 text-white mb-2">Lojas Parceiros</a>
        <a href="#" class="d-block float-left w-100 text-white mb-2">Cadastro</a>
        <a href="#" class="d-block float-left w-100 text-white mb-2">Login</a>
      </div>
      <div class="col-12 col-lg-6 d-flex flex-wrap">
        <div class="w-50">
          <h6 class="text-white mb-4">HELP</h6>
          <a href="#" class="d-block text-white mb-2">Duvidas Frequentes</a>
          <a href="#" class="d-block text-white mb-2">Contato</a>
        </div>
        <div class="w-50">
          <h6 class="text-white mb-4">POLITICA DE PRIVACIDADE</h6>
          <a href="#" class="d-block text-white mb-2">Termos de Uso</a>
        </div>
        <div class="w-100 w-lg-75 mt-4 d-none">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white" style="border-top-left-radius: 10px;border-bottom-left-radius: 10px;">
                <img style="height: 22px;" src="assets/img/pesquisa.svg">
              </span>
            </div>
            <input type="text" style="height: 55px;" class="form-control border-left-0 border-right-0 input_pesquisa" placeholder="Receba nossas promoções">
            <div class="input-group-append">
              <span class="input-group-text p-0 bg-white" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                <button class="btn btn-link btn_buscar _color_green"><strong>SUBSCRIBE</strong></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-5 mt-5">
        <p class="text-white text-center" style="font-size: 14px;">Copyright © 2020. todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>
<!--=========== fim footer ===========-->
