<div class="d-md-flex flex-column menu_dropdown">
  <a target="_blank" rel="noopener noreferrer" href="https://madeinnatural.com.br/para-escritorios"
    class="p-3 item_menu" ngbDropdownItem> Snacks para empresas</a>
  <a target="_blank" rel="noopener noreferrer" href="https://madeinnatural.com.br/seja-revendedor"
    class="p-3 item_menu" ngbDropdownItem> Seja Revendedor</a>
  <a target="_blank" rel="noopener noreferrer" href="https://www.loja.madeinnatural.com.br/" class="p-3 item_menu"
    ngbDropdownItem> Para sua Casa</a>
  <a target="_blank" rel="noopener noreferrer" href="https://contato.madeinnatural.com.br"
    class="p-3 item_menu" ngbDropdownItem> Fale Cosnosco</a>
</div>
