// header fixado no top estilo carrinha de compra
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 780px) {
  .hidder-780{
    display:none;
  }

  .show-780{
    display: block;
  }
}
