<!--=========== header ===========-->
<header  *ngIf="showHeader" class="container bg-white">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center py-3">

        <app-dropdown class="max-width=480" ></app-dropdown>

        <button (click)="goHome()" class="btn d-lg-none btn_open_menu">
          <img src="assets/img/menu.svg">
        </button>

        <img (click)="goHome()" style="height: 53px;" src="assets/img/logo.webp">

        <div class="w-100 d-none d-lg-block centro_menu bg-white">
          <div class="border border-white w-100 border-top border-lg-none p-5 p-lg-0 d-block d-lg-flex">

            <app-search-header ngClass="d-flex justify-content w-100"></app-search-header>

            <div class="d-flex justify-content-between">
              <div class="ml-0 ml-lg-3 mr-3 login">
                <strong>Bem vindo!</strong>
                <a class="d-block btn_entrar _color_green" *ngIf="user.name == ''" (click)="goPageLogin()">Entre ou cadastre-se</a>
                <a class="d-block _color_green" *ngIf="user.name != '' "> {{ user_name | titlecase }}</a>
              </div>

              <div class="d-flex" style="padding-left: 50px;">
                <button (click)="goProfile()" class="btn ml-1 btn_perfil"><img style="height: 23px;" src="assets/img/user.svg"></button>
                <!-- <button class="btn ml-1 btn_favoritos"><img style="height: 23px;" src="assets/img/coracao.svg"></button> -->
              </div>
            </div>



          </div>
        </div>

        <app-dropdown
          [type]="'menu_fechamendo'"
          [cartLength]="cartLength"
          [userPresent]="!userPresent"
          [goCart]="goCart"
          [goPageRegistration]="goPageRegistration"
        ></app-dropdown>

      </div>
    </div>
  </div>
</header>
<!--=========== fim header ===========-->
