@import "../../../assets/styles.scss";

.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-between;

  a {
    color: inherit;
  }

  &-extend {
    border: 0;
  }

  &-mobile-btn {
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;

    ::ng-deep .icon {
      fill: var(--neutral-darkest);
    }
  }

  &-brand {
    width: auto;
    display: flex;
    justify-content: center;

    img {
      height: 3rem;
    }
  }

  &-user {
    display: flex;
    justify-content: end;
  }

  &-menu,
  &-brand,
  &-user {
    display: content;
    flex: 1;
  }

  &-nav {
    @extend .transition;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 4rem;
    width: 100%;
    height: calc(100vh - 4rem);
    background: #fff;

    &.active {
      opacity: 1;
      visibility: visible;
      top: 4rem;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;

      a {
        @extend .text-sm;
        color: var(--neutral-darkest);
        display: flex;
        height: 4rem;
        align-items: center;
        padding: 0 2rem;
        width: 100%;
        border-bottom: 1px solid var(--neutral-light);

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-desktop {
    display: none;
  }
}

// DESKTOP //////////////////////////////////////////////
@media (min-width: 767px) {
  .header {
    position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-around;
    &-menu {
      display: none;
    }

    &-brand {
      img {
        height: 4rem;
        width: auto;
      }
    }

    &-user {
      display: none;

      &-btn {
        padding: 0 2rem 0 12px;

        img {
          margin-top: -3px;
        }
      }
    }

    &-menu,
    &-brand,
    &-user {
      flex: 0;
      display: content;
    }

    &-nav {
      position: relative;
      background: transparent;
      height: auto;
      width: auto;
      left: auto;
      top: auto;
      display: flex;
      text-align: center;
      opacity: 1;
      visibility: visible;

      &.active {
        top: 0;
      }

      ul {
        display: flex;
        align-items: center;
      }

      li a {
        border: 0;
        height: auto;

        &:hover {
          text-decoration: none;
          color: var(--primary);
        }
      }

      .btn {
        margin-left: 2rem;
      }
    }

    &-mobile {
      display: none;
    }

    &-desktop {
      display: flex;
      align-items: center;
    }
  }
}

//** variables
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;


.search {
  padding: 0px;
  margin: 0;

  &-desktop {
    position: relative;
    top: 50%;
    background-color: white;

    &-txt {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40rem;
      border-radius: 5px;
      height: 48px;
      padding-left: 3rem;
    }

    // Lupa no final do input dentro do input
    &-lupa {
      position: absolute;
      color: #45832f;
      float: left;
      margin-left: 1%;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;
    }

    // Butão de busca dentro do input
    &-btn {
      position: absolute;
      transform: translate(100%, -10%);
      border: none;
      bottom: 0;

      cursor: pointer;
      margin-left: 68%;
    }

  }
}

.dropdown {
  &-list {
    justify-content: center;
    text-decoration: none;
  }
}







