<div *ngIf="type == 'login'">

  <!-- <div *ngIf="errorsResponseServer.length > 0" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Algo deu errado: </strong> {{errorsResponseServer[0].msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

  <div class="col-12 mb-4">
    <div class="d-flex justify-content-center">
      <a class="btn _color_green" style="text-decoration: underline;">
        <h3>Login</h3>
      </a>
      <a class="btn" (click)="type = 'registration'">
        <h3>Cadastro</h3>
      </a>
    </div>
  </div>




  <form #f="ngForm" [formGroup]="formLogin" (ngSubmit)="startLogin()" class="col-12">

    <mat-label>Email</mat-label>
    <input
    type="email"
    #email
    formControlName="email"
    style="box-shadow: none; border-bottom: solid 1px #ccc !important;"
    name="email"
    class="form-control global_form rounded-0 border-0 px-0 py-4 padding-20"/>

      <div *ngIf="this.formLogin.get('email')?.errors && this.formLogin.get('email')?.touched">
        <mat-hint class="invalid-feedback">Email invalido</mat-hint>
      </div>

    <br>


    <div class="submit-line">

      <mat-label>Senha</mat-label>
      <input
      type="password"
      formControlName="password"
      #password
      name="password"
      class="form-control global_form rounded-0 border-0 px-0 py-4 padding-20"
      style="box-shadow: none; border-bottom: solid 1px #ccc !important;"
      matInput [type]="hide ? 'password' : 'text'"
      >

      <mat-icon
      class="submit-lente"
      matSuffix (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>


      <mat-hint
      *ngIf="valPassword"

      class="invalid-feedback" >{{fildMsgError}}</mat-hint>

    </div>

    <div class="col-12" style="margin-bottom: 10px;">
      <br>

      <div *ngIf="loading"class="d-flex justify-content-center text-success">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <label *ngIf="!loading" for="login" class="btn btn_green w-100 text-uppercase">Entrar</label>
      <input *ngIf="!loading" type="submit" id="login" hidden="true" />
    </div>
  </form>

  <div class="col-12">
    <br>
    <div class="d-flex align-items-center justify-content-between">
      <label class="d-flex align-items-center">
        <input #lembrar type="checkbox" class="mr-3"> <strong>Lembrar-me</strong>
      </label>
      <button (click)="recovery_passord()" class="btn _color_green" style="text-decoration: underline;">
        <strong>Esqueci a Senha</strong>
      </button>
    </div>
  </div>


</div>
