<div *ngIf="type == 'login'">

  <!-- <div *ngIf="errorsResponseServer.length > 0" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Algo deu errado: </strong> {{errorsResponseServer[0].msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

  <div class="col-12 mb-4">
    <div class="d-flex justify-content-center">
      <a class="btn _color_green" style="text-decoration: underline;">
        <h3>Login</h3>
      </a>
      <a class="btn" (click)="type = 'registration'">
        <h3>Cadastro</h3>
      </a>
    </div>
  </div>




  <mn-form #form [submitable]="submit" buttonName="Entrar" [showToastForm]="true">
    <mn-input archetype="email" placeholder="E-mail">
    </mn-input>
    <mn-input archetype="password" placeholder="Senha">
    </mn-input>
  </mn-form>

  <div class="col-12">
    <br>
    <div class="d-flex align-items-center justify-content-between">
      <label class="d-flex align-items-center">
        <input #lembrar type="checkbox" class="mr-3"> <strong>Lembrar-me</strong>
      </label>
      <button (click)="recovery_passord()" class="btn _color_green" style="text-decoration: underline;">
        <strong>Esqueci a Senha</strong>
      </button>
    </div>
  </div>


</div>
