:host{
  display: flex;
}

.icon{
  display: inline-block;
  margin: 0 auto;

  &-xl{
     width: 5rem;
     height: 5rem;
  }

  &-lg{
     width: 4rem;
     height: 4rem;
  }

  &-md{
     width: 3rem;
     height: 3rem;
  }

  &-sm{
     width: 2rem;
     height: 2rem;
  }

  &-xs{
     width: 1rem;
     height: 1rem;
  }

  &-xxs{
     width: 0.5rem;
     height: 0.5rem;
  }

  &-default{
     width: 0.8rem;
     height: 0.8rem;
  }

}


.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  & .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
