.button {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  padding: .1rem;

  &-size-xl{
    width: 5rem;
    height: 5rem;
  }

  &-size-lg{
    width: 4rem;
    height: 4rem;
  }

  &-size-md{
    width: 3rem;
    height: 3rem;
  }

  &-size-sm{
    width: 2rem;
    height: 2rem;
  }

  &-size-xs{
    width: 1rem;
    height: 1rem;
  }

  &-size-xss {
    width: .5rem;
    height: .5rem;
  }

  &-size-default {
    width: .8rem;
    height: .8rem;
  }

  &-quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;

    mn-icon {
      width: 32px;
    }
  }
}
