    <!--=========== minha conta ===========-->
    <section class="w-100 section_minha_conta mb-5">
      <div class="container">
          <div class="row">
              <div class="col-12 mb-3">
                  <div style="white-space: nowrap; color: #686868;">
                      Home <i class="fa fa-angle-right"></i>
                      <strong style="color: #000;">Minha conta</strong>
                  </div>
              </div>
              <div class="col-12">
                  <div class="pt-3 pl-3 mr-4" style="position: relative; background-image: url('assets/img/circles.png'); background-size: 72px 72px; background-repeat: no-repeat;">
                      <h3 class="bg-white pt-2 px-3"><strong>Bem Vindo, Eduardo!</strong></h3>
                  </div>
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-md-1"></div>
              <div class="col-12 col-md-4 col-lg-3 mb-4">
                  <div class="mb-2"><a style="color: #000; font-weight: 400;" href="minha_conta.html">Minha conta</a></div>
                  <div class="mb-2"><a href="informacoes_pessoais.html" class="opt_menu_left">Informações Pessoais</a></div>
                  <div class="mb-2"><a href="enderecos.html" class="opt_menu_left">Endereços</a></div>
                  <div class="mb-2"><a href="minha_lista.html" class="opt_menu_left">Minha lista</a></div>

                  <div class="mb-2 mt-4" style="color: #000; font-weight: 400;">Informações de Compra</div>
                  <div class="mb-2"><a href="historico_compras.html" class="opt_menu_left">Histórico de Compra</a></div>
                  <hr class="mt-4 mb-0 d-md-none">
              </div>
              <div class="col-12 col-md-6 col-lg-7">
                  <h5><strong>Notificações por Email</strong></h5>
                  <div class="d-flex w-100 align-items-start justify-content-between">
                      <div class="pr-4">
                          <div style="font-size: 13px;">Sim, eu quero receber informações por email.</div>
                          <div style="color: #999;font-size: 13px;">Gostaríamos que você fosse o primeiro a receber notícias personalizadas, ofertas especiais exclusivas relacionadas à PRIMA, nossos produtos e nossa colaboração com terceiros.</div>
                      </div>
                      <input type="checkbox" name="">
                  </div>
                  <br>
                  <div class="d-flex w-100 align-items-start justify-content-between">
                      <div class="pr-4">
                          <div style="font-size: 13px;">Eu quero receber informações sobre o meu pedido</div>
                      </div>
                      <input type="checkbox" name="">
                  </div>
                  <br>
                  <h5><strong>Endereço de Entrega</strong></h5>
                  <div class="d-block d-md-flex justify-content-between">
                      <div style="font-size: 13px;" class="mr-5">Rua James Ferraz Alvim, 271 0546-102</div>
                      <a href="#" style="font-size: 13px; text-decoration: underline; white-space: nowrap;" class="_color_green">Mudar endereço</a>
                  </div>
              </div>
          </div>
      </div>

      <script src="assets/js/jquery-3.4.1.min.js"></script>
      <script src="assets/js/bootstrap.bundle.min.js"></script>
      <script src="assets/js/rSlider.js"></script>
      <script src="assets/js/script.js"></script>
  </section>
  <!--=========== fim minha conta ===========-->
