<section class="w-100 section_minha_conta mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div style="color: #686868;">
          Home <i class="fa fa-angle-right"></i>
          Perfil <i class="fa fa-angle-right"></i>
          <strong style="color: #000;"> Meus Pedidos</strong>
        </div>
      </div>
      <div class="col-12">
        <div class="pt-3 pl-3 mr-4"
          style="position: relative; background-image: url('assets/img/circles.png'); background-size: 72px 72px; background-repeat: no-repeat;">
          <h3 class="bg-white pt-2 px-3"><strong>Meus pedido de compras</strong></h3>
        </div>
      </div>
    </div>

    <app-menu-profile class="menu_profile">
      <app-profile-cotacao *ngIf="router.url == '/profile/cotacao'"></app-profile-cotacao>
      <app-profile-data *ngIf="router.url == '/profile/profile_data'"></app-profile-data>
      <app-profile-requests *ngIf="router.url == '/profile/pedidos'"></app-profile-requests>
    </app-menu-profile>

  </div>
</section>
