.sectio-password {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  padding: 100px 0 100px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

// DEIXAR UMA LARGURA width
.recovery-form {
  width: 100%;
}

.form-recovery {
  text-align: -webkit-center;
}

