<!--=========== carrousel ===========-->
<section class="w-100">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-interval="10000000"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        style="background-image: url('assets/img/bg.webp')"
      >
        <div class="w-100 h-100 carousel-inner_in pt-5 pb-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="mb-0">
                  Compre com o menor preço <br />nos melhores fornecedores.
                </h1>
                <br />
                <p>
                  Tecnologia que conecta os principais fornecedores de alimentos
                  no atacado <br />com compradores que buscam a melhor qualidade
                  com o menor preço.
                </p>
                <br />
                <button (click)="goSearch()"
                  class="btn_green btn_buscar_produto"
                >
                  Buscar produto
                </button>
                <!-- <button (click)="goCotacao()"
                  class="btn text-white ml-0 ml-md-3 text-uppercase btn_outline_white btn_criar_cotacao"
                >
                  Criar cotação
                </button> -->
              </div>
            </div>
            <div class="row mt-5 pt-0 pt-lg-5">
              <div class="col-12 d-flex justify-content-end">
                <div>
                  <a
                    class="carousel-control-prev"
                    href="#carouselExampleControls"
                    role="button"
                    data-slide="prev"
                  >
                    <img src="assets/img/arrow_left.svg" />
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#carouselExampleControls"
                    role="button"
                    data-slide="next"
                  >
                    <img src="assets/img/arrow_right.svg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="carousel-item"
        style="background-image: url('assets/img/bg.webp')"
      >
        <div class="w-100 h-100 carousel-inner_in pt-5 pb-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="mb-0">
                  Compre com o menor preço <br />nos melhores fornecedores.
                </h1>
                <br />
                <p>
                  Tecnologia que conecta os principais fornecedores de alimentos
                  no atacado <br />com compradores que buscam a melhor qualidade
                  com o menor preço.
                </p>
                <br />
                <button
                  class="btn mb-4 mb-md-0 text-uppercase btn_green btn_buscar_produto"
                >
                  Buscar produto
                </button>
                <button
                  class="btn ml-0 ml-md-3 text-uppercase btn_outline_white btn_criar_cotacao"
                >
                  Criar cotação
                </button>
              </div>
            </div>
            <div class="row mt-5 pt-0 pt-lg-5">
              <div class="col-12 d-flex justify-content-end">
                <div>
                  <a
                    class="carousel-control-prev"
                    href="#carouselExampleControls"
                    role="button"
                    data-slide="prev"
                  >
                    <img src="assets/img/arrow_left.svg" />
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#carouselExampleControls"
                    role="button"
                    data-slide="next"
                  >
                    <img src="assets/img/arrow_right.svg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim carrousel ===========-->
