<!--=========== carrousel ===========-->
<section class="carousel">
  <div id="carouselExampleControls" class="carousel slide" data-interval="10000000" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active fundo">
        <div class="carousel-inner_in">
          <div class="container">
              <div class="col-12">
                <h1 class="text-title">
                  Compre no atacado a maior <br> variedade de produtos naturais.
                </h1>
                <p>
                  A Made in Natural é uma plataforma de venda de produtos naturais <br>
                  para negócios que buscam praticidade e a melhor qualidade de preço.
                </p>

                <div class="c-body c-mobile">
                  <button (click)="goSearch()" class="btn_green btn_buscar_produto ">
                    Buscar produto
                  </button>
                  <!-- <button (click)="goCotacao()"
                    class="btn text-white ml-0 ml-md-3 text-uppercase btn_outline_white btn_criar_cotacao"
                  >
                    Criar cotação
                  </button> -->
                </div>

                <div class="col-12 pb-5 pt-5 d-flex justify-content-end">
                  <div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <img src="assets/img/arrow_left.svg" />
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <img src="assets/img/arrow_right.svg" />
                    </a>
                  </div>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim carrousel ===========-->
