.fundo {
  background-image:url('../../../assets/img/bg.webp');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  width:100%;
  height: 600px;
  position:relative;
}

.overlay {
  position:absolute;
  background-image:url(https://static.musiocdn.com/img/dot-overlay.png?45a8ea7a65f7);
  width:100%;
  height:100%;
}

.sombra {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
}

.text-title {
  font-size: 90px !important;
  color: white;
}
