* {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}

.fundo {
  background-image: linear-gradient(5deg, #000000, rgba(0, 0, 0, 0) 98.02%), url('../../../assets/img/bg.webp');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  width: 100%;
  height: 10%;
  position:relative;
  mix-blend-mode: normal;
  opacity: 1;
}

.overlay {
  position:absolute;
  background-image:url(https://static.musiocdn.com/img/dot-overlay.png?45a8ea7a65f7);
  width:100%;
  height:100%;
}

.text-title {
  padding: 5rem 0 2.5rem 0;
  font-size: 5rem !important;
  color: white;
  h1 {
    font-size: 1rem !important;
    color: white;
  }
}

@media screen and (max-width: 780px) {
  .text-title {
    padding: 2.5rem 0 2.5rem 0;
    font-size: 3.5rem !important;
    color: white;
  }

  .c {
    &-mobile {
      text-align: center 'important';
      text-align: -webkit-center !important;
      button {
        width: 100%;
        min-width: -webkit-fill-available;
      }
    }
  }
}

.c {
  &-title {
    font-size: 1rem !important;
    color: white;
  }
  &-body {
    padding: 2rem 0 0 0;
    color: white;

  }
}
