<div class="form-group-{{size}}" [class.form-group]="type != 'search'">

  <label for="{{name}}" #thelabel [hidden]="thelabel.childNodes.length == 0">
    <ng-content></ng-content>
  </label>


  <small class="form-group-counter" [class.text-danger]="counterNumber < 0" *ngIf="maxCounter">{{
    counterNumber}}</small>


  <ng-container *ngIf="getActualType() == 'textarea'">
    <mat-label>{{placeholder}}</mat-label>
    <textarea class="form-control form-control-{{size}}" #textarea [(ngModel)]="value" (input)="updateCounter()"
      [attr.autofocus]="autofocus ? null : ''" [maxlength]="maxCounter ? maxCounter : maxLength"></textarea>
  </ng-container>

  <div class="relative" style="max-width: 419px;">
    <i *ngIf="type=='password'" class="form-iconInput" [class.icon-eye]="getActualType()=='password'"
      [class.icon-eye-block]="!(getActualType()=='password')"></i>
    <a *ngIf="type=='password' && hasForgetLink" class="form-forgotLink" routerLink="/esqueci_minha_senha">Esqueci</a>

    <mat-form-field style="width: 100%;" appearance="legacy">

      <mat-label>{{placeholder}}</mat-label>

      <input *ngIf="!(getActualType()=='select') && !(getActualType()=='textarea') && actualType != 'password'" #input
        [class.is-invalid]="invalid" matInput placeholder="{{placeholder}}" class="form-control-{{size}}"
        [type]="actualType" tabindex="1" [(ngModel)]="value" (blur)="onBlur()" (focus)="focus()" [textMask]="tmask"
        [disabled]="disabled" [readonly]="readonly" [ngClass]="['text-input', innerClass]" attr.id="{{name}}"
        [maxlength]="maxCounter ? maxCounter : maxLength" (ngModelChange)="updateCounter()"
        (keydown)="handleBackspace($event)" attr.data-checkout="{{dataCheckout || 'false'}}" />


      <input *ngIf="!(getActualType()=='select') && !(getActualType()=='textarea') && actualType == 'password'" #input
        [class.is-invalid]="invalid" matInput placeholder="{{placeholder}}" class="form-control-{{size}}"
        [type]="!hide ? 'text' : 'password'" tabindex="1" [(ngModel)]="value" (blur)="onBlur()" (focus)="focus()"
        [textMask]="tmask" [disabled]="disabled" [readonly]="readonly" [ngClass]="['text-input', innerClass]"
        attr.id="{{name}}" [maxlength]="maxCounter ? maxCounter : maxLength" (ngModelChange)="updateCounter()"
        (keydown)="handleBackspace($event)" attr.data-checkout="{{dataCheckout || 'false'}}" />


      <button *ngIf="actualType == 'password'" mat-icon-button matSuffix (click)="hide = !hide"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-hint *ngIf="invalid">
        <a class="invalid-feedback required">{{message}}</a>
      </mat-hint>

    </mat-form-field>

    <select *ngIf="getActualType()=='select'" class="custom-select form-control form-control-{{size}}"
      [ngClass]="innerClass" [(ngModel)]="value" (change)="onChange()" (blur)="onBlur()" (focus)="focus()"
      [disabled]="disabled" attr.id="{{name}}" #input>
      <option *ngIf="emptyOption" value=""></option>
      <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
    </select>


    <mn-button *ngIf="single" color="primary" size="{{size}}"><i class="icon-check"></i>
    </mn-button>


    <div *ngIf="obs" class="form-obs">{{obs}}</div>
    <span *ngIf="percent" class="form-group-percent">%</span>
  </div>

</div>
