<div class="section w-100">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Data de compra</th>
        <th scope="col"><strong>Total</strong></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let cart of carts">
        <td scope="row">{{ cart.createdAt | date: "dd/MM/yyyy" }}</td>
        <td scope="row"><strong>{{ cart.total | currency:'BRL':true:'1.2-2' }}</strong></td>
        <td scope="row">
          <button mat-raised-button (click)="openDetail(cart)" >Detalhe</button>
        </td>
      </tr>
    </tbody>
    <strong>Total: {{ totalPrice | currency:'BRL':true:'1.2-2' }}</strong>
  </table>

</div>
