<app-header></app-header>

<app-title-page title="Snacks"></app-title-page>

<div class="pt-5 pb-5 section_table">
  <div class="container">

    <div class="row mb-3">
      <div class="col-12 d-block d-md-flex justify-content-between">
        <div class="input-group mb-3 mb-md-0" style="height: 50px; ">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <img style="height: 22px" src="assets/img/pesquisa.svg" />
            </span>
          </div>
          <input [(ngModel)]="termo" (keypress)="keyPress($event)" type="text" style="height: auto"
            placeholder="procure por nome, marca..." class="form-control border-left-0" />
        </div>
        <button
          class="btn mb-4 ml-md-3 mb-md-0 d-flex align-items-center text-uppercase btn_green"
          type="button" data-toggle="modal" data-target="#my-modal" style="max-width: 300px; height: 50px;">
          <img style="width: 32px;" src="assets/img/filtro.webp">
          <div class="ml-4 text-white text-center">Filtro Avançado</div>
        </button>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr class="bg-white">
          <th scope="col">Nome do Produto</th>
          <th scope="col">Base de calculo</th>
          <th scope="col">Preço</th>
          <th scope="col">Total Parcial</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productsTable">
         <td scope="row" class="w-50">{{item.product.display_name}}</td>
         <td scope="row">
          <!-- <span>{{ item.typeCharge == 'box' ? item.product.weight.box.replace('Cx', 'Caixa') : ''}} </span> -->
          <span>{{ item.typeCharge == 'unit' ? 'kg ' +item.product.weight.kg : ''}} </span>
        </td>
         <td scope="row">
          <span *ngIf="item.typeCharge == 'box'">
            {{item.product.price.box_30 | currency:'BRL':true}}
          </span>
          <span *ngIf="item.typeCharge == 'unit'">
            {{item.product.price.unitary | currency:'BRL':true}}
          </span>

         </td>
         <td scope="row">
          <span *ngIf="item.subTotal" >{{ item.subTotal | currency:'BRL':true }}</span>
         </td>
         <td scope="row" class="controller">

          <button class="btn" (click)="item.typeCharge = 'none' " type="button" aria-expanded="false" *ngIf="item.quantity == 0 && !item.typeCharge">
            <img style="height: 16px; padding-left: 10px !important;"src="assets/img/carrinho.svg" /> Adicionar ao carrinho
          </button>

          <div *ngIf="item.typeCharge && item.quantity == 0" class="embalagem">
            <span class="embalagem-title">Escolha qual tipo de embalagem</span>
            <div class="embalagem-body">
              <button (click)="changeTypeCharge(item, 'box')" class="button-16" role="button" type="button">
                <span class="text">Caixa</span>
              </button>
              <button (click)="changeTypeCharge(item, 'unit')" class="button-16" role="button" type="button">
                <span class="text">Kg</span>
              </button>
            </div>
          </div>

          <!-- Borões de adicionar e remover item -->
          <div class="d-flex align-items-center" *ngIf="item.typeCharge && item.quantity > 0">
            <button (click)="removeProductQuantity(item)" class="btn btn_remove" type="button" aria-expanded="false">
              <img style="width: 12px;" src="assets/img/minus.svg">
            </button>
            <div class="ml-2 mr-2">
              {{item.quantity}}
            </div>
            <button (click)="addProductQuantity(item)" class="btn btn_remove" type="button" aria-expanded="false">
              <img style="width: 12px;" src="assets/img/add.svg">
            </button>
          </div>

         </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>






<div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="filter-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content pl-4 pr-4 border-0" style="border-radius: 15px;">
      <div class="modal-header border-0">
        <h5 class="modal-title"><strong>Filtros</strong></h5>
        <button type="button" style="opacity: 1;" class="close" data-dismiss="modal" aria-label="Close">
          <img style="width: 20px; color: #000;" src="assets/img/close_modal.svg">
        </button>
      </div>
      <div class="modal-body border-0">

        <div class="form-group">
          <label>Embalagem</label>
          <select class="form-control">
            <option *ngFor="let category of sanckService.categories">{{category.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Peso (Kg)</label>
          <div class="slider-container pl-2">
            <input type="text" id="slider3" class="slider" />
          </div>
        </div>

        <div class="form-group">
          <label>Valor do produto</label>
          <div class="slider-container pl-2">
            <input type="text" id="slider3" class="slider" />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>





<ng-template #loading>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div>
          <app-loading></app-loading>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #productNull>
  <tr>
    <td colspan="5" class="text-center">
      <h5>Nenhum produto encontrado</h5>
    </td>
  </tr>
</ng-template>

<!--=========== fim section tabela ===========-->


<app-resumo-compra></app-resumo-compra>


<script src="../../../assets/js/rSlider.js"></script>
<script src="../../../assets/js/script.js"></script>
<script src="../../../assets/js/jquery-3.4.1.min.js"></script>
<script src="../../../assets/js/bootstrap.bundle.min.js"></script>

