 <div class="navBottom border-top border-success" [class.active]="data_card.total > 0">

    <div *ngIf="innerWidth > 764 && innerWidth > 600">
      <div class="d-flex justify-content-around">

        <div class="d-flex">
          <img class="img-fluid" src="assets/img/icon.png" style="height: 48px; padding-top: 5px;" alt="carrinho" />
          <div class="d-flex pl-4 flex-column align-items-baseline">
            <h5 class="_color_green">Quantidade de itens: {{data_card.quantidade}}</h5>
            <h6 class="_color_green">Total: {{  data_card.total | currency:undefined:"R$"}}</h6>
          </div>
        </div>

        <app-button-cart (click)="goCart()"></app-button-cart>
      </div>
    </div>

    <div *ngIf="innerWidth > 390 && innerWidth <= 764">
      <div class="d-flex justify-content-center" style="gap: 50px;">

        <div class="d-flex flex-column pl-4">
          <h4 class="card-title">Resumo da compra</h4>
          <h5 class="text-muted">Q. de Itens: {{data_card.quantidade}}</h5>
          <h6 class="card-subtitle text-muted">Total:{{ data_card.total | currency:undefined:"R$"}}</h6>
        </div>

        <button (click)="goCart()" type="button" class="btn btn-success" style="height: 100px;" data-toggle="button" aria-pressed="false" autocomplete="off">
          <h4>Finalizar compra</h4>
        </button>

      </div>
    </div>

    <div *ngIf="innerWidth <= 390">
      <div class="d-flex justify-content-around">

        <div class="card-body resumo">
          <h5 class="card-title">Resumo da compra</h5>
          <h6>Q. de itens: {{data_card.quantidade}}</h6>
          <h6 class="card-subtitle text-muted">Total:{{ data_card.total | currency:undefined:"R$"}}</h6>
        </div>

        <app-button-cart (click)="goCart()" style="align-self: center !important; vertical-align: text-top;"></app-button-cart>

      </div>
    </div>

  </div>
