 <div class="navBottom border-top border-success" [class.active]="data_card.total > 0">

    <div class="hidder">
      <div class="d-flex justify-content-around">
        <div class="d-flex border btn align-items-center border-radius border-success">
          <h6 class="_color_green mb-0">Quantidade de itens: {{data_card.quantidade}}</h6>
        </div>
        <div class="d-flex border btn border-radius border-success">
          <label class="_color_green pb-0 mb-0">Total:
            {{  data_card.total | currency:undefined:"R$"}}
          </label>
        </div>

        <div *ngIf="innerWidth >= 390 && innerWidth >= 780">
          <ng-template [ngTemplateOutlet]="button"></ng-template>
        </div>

      </div>
    </div>

    <div class="show hidder-350">
      <div class=" d-flex justify-content-around alinhamento">

        <div class=" card-body">
          <h4 class="card-title">Resumo da compra</h4>
          <h5>Quantidade de itens: {{data_card.quantidade}}</h5>
          <h6 class="card-subtitle text-muted">Total:{{ data_card.total | currency:undefined:"R$"}}</h6>
        </div>

        <div *ngIf="innerWidth >= 390 && innerWidth < 780">
          <ng-template [ngTemplateOutlet]="button"></ng-template>
        </div>

      </div>
    </div>

    <div class="show-350">
      <div class="d-flex justify-content-around">

          <div class="card-body">
            <h5>Quantidade de itens: {{data_card.quantidade}}</h5>
            <h6 class="card-subtitle text-muted">Total:{{  data_card.total | currency:undefined:"R$"}}</h6>
          </div>

          <div *ngIf="innerWidth < 390">
            <ng-template [ngTemplateOutlet]="button"></ng-template>
          </div>

      </div>
    </div>

  </div>


  <ng-template #button>
    <button class="border border-success btn">
      <h5 class=" _color_green pt-0 pr-0">Finalizar compra</h5>
    </button>
  </ng-template>
