* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  z-index: 9999999;
}

.alinhamento {
  min-width: max-content;
}

.button-cart {
  font-size: x-large;
  align-self: center !important;
}

@media screen and (max-width: 524px) {
  .resumo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 221px;
    align-self: center !important;
  }
}
