<section class="w-100"
  style="background-image: url('assets/img/bg_produtos.png');background-size: cover;background-repeat: no-repeat;">
  <div class="container py-4">
    <div class="row py-5">
      <div class="col-12">
        <h2 class="text-white">Produtos</h2>
      </div>
    </div>
  </div>
</section>

<!--=========== section tabela ===========-->
<section class="pt-5 pb-5 section_table">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 d-block d-md-flex justify-content-between">
        <div class="w-100 d-block d-xl-flex align-items-center">
          <!-- <div class="input-group mb-3 mb-md-0 w-100" style="height: 50px; max-width: 676px;"> -->
          <div class="input-group mb-3 mb-md-0 w-100" style="height: 50px;">

            <div class="input-group-prepend">
              <span class="input-group-text bg-white">
                <img style="height: 22px;" src="assets/img/pesquisa.svg">
              </span>
            </div>
            <input [(ngModel)]="query" (keypress)="keyPress($event)" type="text" style="height: auto;" placeholder="procure por nome, marca..."
              class="form-control border-left-0">
          </div>
          <div class="d-block d-xl-flex mt-3 mb-3 mt-xl-0 mb-lg-0">
            <!-- <label class="d-flex align-items-center ml-3" style="color: #243044; white-space: nowrap;">
                  <input type="checkbox" class="mr-2"> Participa do Simples Nacional
                </label>
                <label class="d-flex align-items-center ml-3" style="color: #243044; white-space: nowrap;">
                  <input type="checkbox" class="mr-2"> Compra dentro do estado de São Paulo
                </label> -->
          </div>
        </div>
        <div>
          <!-- <button id="btn_open_filtro"
            class="btn mb-4 ml-md-3 mb-md-0 w-100 d-flex align-items-center justify-content-center text-uppercase btn_green"
            style="max-width: 320px; white-space: nowrap;">
            <img style="width: 32px;" src="assets/img/filtro.webp">
            <div class="ml-3 text-white">Filtro Avançado</div>
          </button> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <table class="table " rowgroup *ngIf="products$ | async as products; else loading ">
          <ng-container  *ngIf="products$ | async as products; else loading">

              <thead>
                <tr class="bg-white">
                  <th scope="col">Produto</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Preço/Unidade</th>
                  <th scope="col" class="classe-nova">Unidade</th>
                  <th scope="col" class="classe-nova">Adicionar ao carrinho</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let product of products">
                  <td scope="row" style="max-width: 200px;">
                    <h5>{{product.product_name}}</h5>

                    <div class="d-lg-none" style="margin-top: 10px;">
                      <span>
                        <h6> Unidade de: {{product.weight}} kg</h6>
                      </span>
                      <div class="d-flex pl-2" *ngIf="product.quantity && product.quantity > 0">
                        <button (click)="removeItem(product)" class="btn btn_remove"><img style="width: 12px;"
                            src="assets/img/minus.svg"></button>
                        <h5 class="mx-2">{{product.quantity}}</h5>
                        <button (click)="addItemCart(product)" class="btn btn_remove"><img style="width: 12px;"
                            src="assets/img/add.svg"></button>
                      </div>

                      <div class="example-button-row d-flex" *ngIf="product.quantity == 0">
                        <mat-card style="padding-top: -50px !important;">
                          <mat-card-actions align="end">
                            <img style="height: 26px;" src="assets/img/carrinho.svg">
                            <button mat-button>
                              <h6 class="_color_green" (click)="addItemCart(product)">Adicionar ao carrinho</h6>
                            </button>
                          </mat-card-actions>
                        </mat-card>
                      </div>


                    </div>
                  </td>

                  <td scope="row" style="max-width: 200px;">{{product.provider_primary}}</td>
                  <td scope="row" style="max-width: 200px;">{{product.price}}</td>
                  <td scope="row" class="classe-nova" style="max-width: 200px;">{{product.weight}}</td>

                  <td scope="row" class="classe-nova align-items-center">
                    <div class="d-flex pl-2" *ngIf="product.quantity && product.quantity > 0">
                      <button (click)="removeItem(product)" class="btn btn_remove"><img style="width: 12px;"
                          src="assets/img/minus.svg"></button>
                      <h5 class="mx-2">{{product.quantity}}</h5>
                      <button (click)="addItemCart(product)" class="btn btn_remove"><img style="width: 12px;"
                          src="assets/img/add.svg"></button>
                    </div>

                    <div *ngIf="product.quantity == 0">
                      <button class="btn d-flex align-items-center">
                        <img style="width: 26px;" src="assets/img/carrinho.svg">
                        <h6 class="_color_green ml-3 mb-0" (click)="addItemCart(product)">Adicionar ao carrinho</h6>
                      </button>
                    </div>

                  </td>

                </tr>
              </tbody>

              <tbody *ngIf="products.length == 0">
                <tr>
                  <td colspan="5" class="text-center">
                    <h5>Nenhum produto encontrado</h5>
                  </td>
                </tr>
              </tbody>

              <h6 *ngIf="hidderPagination" style="font-size: 14px;">* Compra minima por forncedor - R$400.00</h6>
            </ng-container>
          </table>


      </div>
    </div>


  <ng-template #loading>
    <!-- LOADING EM TODA DIV-->
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
          <div >
            <app-loading></app-loading>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!--=========== fim section tabela ===========-->

  <ng-template #productNull>
      <tr>
        <td colspan="5" class="text-center">
          <h5>Nenhum produto encontrado</h5>
        </td>
      </tr>
  </ng-template>

    <app-paginator [current_page]="current_page" [hidderPagination]="true" [moreProduct]="moreProduct" (page)="pullProducts($event)" ></app-paginator>
  </div>

</section>
<!--=========== fim section tabela ===========-->
