@media screen and (max-width:993px){
  .classe-nova{
     display:none;
  }
}
@media screen and (max-width:431px){
  .esconder-2 {
    display: none;
  }
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 400px;
}

.example-button-row .mat-button-base {
  margin-right: -18px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

// LINHA TEXTO DA COLUNA QUANDO FOR RESOLUÇÃO CELULAR
@media screen and (max-width: 431px) {
  .example-label {
    display: block;
    margin-left: 0;
    min-width: 0;
  }
}


.embalagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 3s;

  &-title {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    text-align: center;
  }

  &-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    gap: 0.5rem;
  }
}

.embalagem:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
