<app-header></app-header>

<section class="w-100"
  style="background-image: url('assets/img/bg_produtos.png');background-size: cover;background-repeat: no-repeat;">
  <div class="container py-4">
    <div class="row py-5">
      <div class="col-12">
        <h2 class="text-white">Produtos</h2>
      </div>
    </div>
  </div>
</section>

<!--=========== section tabela ===========-->
<section class="pt-5 pb-5 section_table">
  <products-cart></products-cart>
</section>
<!--=========== fim section tabela ===========-->
