* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lupa  {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.lupa  {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
