<app-carrousel></app-carrousel>

<section class="w-100">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/percent.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Menor preço do mercado
            </h6>
            <p>
              Sistema inteligente de comparação de preços com atualização
              automática.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/computador.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Maior variedade
            </h6>
            <p>Milhares de itens disponíveis para você escolher.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/store.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              PEDIDO ONLINE
            </h6>
            <p>
              Tecnologia que conecta os principais fornecedores de alimentos no
              atacado com compradores.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/maquina.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Cotação automática de preços
            </h6>
            <p>
              Os preços sofrem variações de acordo com a taxa de câmbio, safra,
              estoque, mal tempo, mas a Prima organiza-os em tempo real.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-products-cart></app-products-cart>

  <!--=========== destaques ===========-->
  <section class="section_destaques my-5" style="background-color: #F8F9FA;">
    <div class="container">
      <div class="row">
        <div class="col-12 py-5 d-lg-flex align-items-end">
          <div class="mb-5 pb-5 mb-md-0 pb-md-0 mt-3">
            <div class="pt-3 pl-3 mr-4" style="position: relative; background-image: url('assets/img/circles_2.png'); background-size: 72px 72px; background-repeat: no-repeat;">
              <h1 class="pt-3 px-4" style="color: #DB591D;">Destaque <span class="d-block" style="white-space: nowrap;">de mídia</span></h1>
              <p class="ml-4">Onde estão falando sobre a made in natural</p>
            </div>
          </div>
          <div class="w-100 mt-5 d-flex flex-wrap justify-content-center">
            <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque1.png"></div>
            <div class="mb-5 mx-4 "><img style="height: 38px;" src="assets/img/destaques/destaque2.png"></div>
            <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque3.png"></div>
            <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque4.png"></div>
            <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque5.png"></div>
            <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque6.png"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=========== fim destaques ===========-->

   <!--=========== categorias ===========-->
   <section class="w-100 pt-5 pb-5 section_categorias" style="overflow: hidden; background-image: url('assets/img/bg_categorias.png'); background-color: #F8F9FA; background-repeat: no-repeat; background-size: 100% 100%;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white text-center">Categorias</h1>

          <div class="pb-5">
            <div class="d-flex cont_categorias">
              <div class="categoria">
                <div class="shadow mr-4 bg-white">
                  <img src="assets/img/categorias/img1.jpeg">
                  <h6 class="_color_green">Snacks</h6>
                  <p>Chips, crisps, castanhas, frutas secas, granolas, cookies e muito mais! </p>
                </div>
              </div>
              <div class="categoria">
                <div class="shadow mr-4 bg-white">
                  <img src="assets/img/categorias/img2.jpeg">
                  <h6 class="_color_green">Castanhas, Sementes & Frutas Secas</h6>
                  <p>A maior variedade de frutas secas para você :)</p>
                </div>
              </div>
              <div class="categoria">
                <div class="shadow mr-4 bg-white">
                  <img src="assets/img/categorias/img3.jpeg">
                  <h6 class="_color_green">Temperos & Especiarias</h6>
                  <p>Conheça as ervas presentes nas cozinhas de Chefs</p>
                </div>
              </div>
              <div class="categoria">
                <div class="shadow mr-4 bg-white">
                  <img src="assets/img/categorias/img4.jpeg">
                  <h6 class="_color_green">Farinhas, Moídos & Pó</h6>
                  <p>Opções de farináceos para todos os tipos e gostos!</p>
                </div>
              </div>
              <!-- <div class="categoria">
                <div class="shadow mr-4 bg-white">
                  <img src="assets/img/categorias/img5.jpeg">
                  <h6 class="_color_green">Chás & Ervas</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-4">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <button class="btn p-0 rounded-circle mr-2 btn_prev">
            <img style="width: 40px;" src="assets/img/arrow_circle_left_white.png">
          </button>
          <button class="btn p-0 rounded-circle ml-2 btn_next">
            <img style="width: 40px;" src="assets/img/arrow_circle_right_white.png">
          </button>
        </div>
      </div>
    </div>
  </section>
  <!--=========== fim categorias ===========-->

  <!--========== boxex ============-->
  <section class="w-100 my-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 my-3">
          <div class="w-100" style="box-shadow: 0px 4px 4px 0px #00000040; border-radius: 16px; overflow: hidden;">
            <div class="w-100" style="position: relative; padding-top: 40%; overflow: hidden;">
              <img class="w-100 h-100" style="position: absolute; top: 0; left: 0; object-fit: cover;" src="assets/img/snacks.png" alt="">
            </div>
            <div class="p-4">
              <h3 class="_color_green" style="font-weight: bolder;">Snacks para escritórios</h3>
              <p style="font-size: 12px;">Surpreenda seu time de colaboradores com snacks deliciosos e saudáveis.</p>
              <button class="btn btn_green w-100">Saiba mais</button>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 my-3">
          <div class="w-100" style="box-shadow: 0px 4px 4px 0px #00000040; border-radius: 16px; overflow: hidden;">
            <div class="w-100" style="position: relative; padding-top: 40%; overflow: hidden;">
              <img class="w-100 h-100" style="position: absolute; top: 0; left: 0; object-fit: cover;" src="assets/img/snacks.png" alt="">
            </div>
            <div class="p-4">
              <h3 class="_color_green" style="font-weight: bolder;">Compre no atacado</h3>
              <p style="font-size: 12px;">Aqui você pode adquirir uma grande variedade de produtos com preço direto da fonte</p>
              <button class="btn btn_green w-100">Saiba mais</button>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 my-3">
          <div class="w-100" style="box-shadow: 0px 4px 4px 0px #00000040; border-radius: 16px; overflow: hidden;">
            <div class="w-100" style="position: relative; padding-top: 40%; overflow: hidden;">
              <img class="w-100 h-100" style="position: absolute; top: 0; left: 0; object-fit: cover;" src="assets/img/snacks.png" alt="">
            </div>
            <div class="p-4">
              <h3 class="_color_green" style="font-weight: bolder;">Crie uma cotação</h3>
              <p style="font-size: 12px;">Gostaria de fazer uma compra especial? Envie sua lista que enviaremos a melhor sugestão para você</p>
              <button class="btn btn_green w-100">Saiba mais</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--========== fim boxex ============-->

  <!--=========== empresas ===========-->
  <section class="w-100 mb-5 section_empresas" style="background-color: transparent;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 d-block cont_img_produto">
          <img class="w-100 h-100" style="object-fit: contain;" src="assets/img/destaques/img_produto.png">
        </div>
        <div class="col-12 col-md-8 col-lg-9 pt-4 px-5 d-flex align-items-center">
          <div class="pl-3 pl-xl-5">
            <h1 class="mb-5 _color_green">Aprovado por grandes empresas</h1>
            <div class="w-100 d-flex flex-wrap">
              <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="img_empresa" style="max-width: 230px;" src="assets/img/empresas/google.png"></div>
              <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="img_empresa" style="max-width: 230px;" src="assets/img/empresas/btg.png"></div>
              <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="img_empresa" style="max-width: 230px;" src="assets/img/empresas/sodexo.png"></div>
              <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="img_empresa" style="max-width: 230px;" src="assets/img/empresas/grsa.png"></div>
              <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="img_empresa" style="max-width: 230px;" src="assets/img/empresas/uber.png"></div>
              <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="img_empresa" style="max-width: 230px;" src="assets/img/empresas/arn.png"></div>
              <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="img_empresa" style="max-width: 230px;" src="assets/img/empresas/facebook.png"></div>
              <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="img_empresa" style="max-width: 230px;" src="assets/img/empresas/oliver.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=========== fim empresas ===========-->

  <!--=========== avaliacoes ===========-->
  <section class="section_avaliacoes pt-5" style="margin-bottom: 50px; overflow: hidden; background-image: url('assets/img/bg_categorias.png'); background-repeat: no-repeat; background-size: 100% 100%;">
    <div class="container">
      <div class="row">
        <div class="col-12 d-block d-md-flex">
          <div class="mb-5 pb-5 mb-md-0 pb-md-0 mt-3">
            <div class="pt-3 pl-3 mr-4" style="position: relative; background-image: url('assets/img/circles_2.png'); background-size: 72px 72px; background-repeat: no-repeat;">
              <h1 class="pt-2 px-3 text-white">Avaliações <br><span style="white-space: nowrap;">de clientes</span></h1>
              <div class="px-3" style="font-size: 16px; color: #757575;">
                <span style="white-space: nowrap;" class="text-white">Nós valorizamos o bom</span> <br>
                <span style="white-space: nowrap;" class="text-white">atendimento e a satisfação</span>
              </div>
            </div>
          </div>

          <div class="d-flex cont_avaliacoes">
            <div class="avaliacao">
              <div class="avaliacao_in mr-4 mt-5">
                <div class="cont_img">
                  <img class="img_cliente" src="assets/img/clientes/cliente1.png">
                  <img class="d-block ml-auto mr-auto mt-4 img_aspas" src="assets/img/aspas.png">
                </div>
                <h6>Eduardo T. - <br> Comprador</h6>
                <p>"Com certeza é a maior variedade com o menor preço!"</p>
              </div>
            </div>
            <div class="avaliacao">
              <div class="avaliacao_in mr-4 mt-5">
                <div class="cont_img">
                  <img class="img_cliente" src="assets/img/clientes/cliente2.png">
                  <img class="d-block ml-auto mr-auto mt-4 img_aspas" src="assets/img/aspas.png">
                </div>
                <h6>Pedro F. - <br>
                  Empresário</h6>
                <p>"Faço meus pedidos de
                  qualquer lugar, onde estiver, na palma da minha mão."</p>
              </div>
            </div>
            <div class="avaliacao">
              <div class="avaliacao_in mr-4 mt-5">
                <div class="cont_img">
                  <img class="img_cliente" src="assets/img/clientes/cliente3.png">
                  <img class="d-block ml-auto mr-auto mt-4 img_aspas" src="assets/img/aspas.png">
                </div>
                <h6>Larissa Costa</h6>
                <p>"Eu faço todas as minhas cotações pela Made in Natural e sempre consigo o melhor preço."</p>
              </div>
            </div>
            <!-- <div class="avaliacao">
              <div class="avaliacao_in mr-4 mt-5">
                <div class="cont_img">
                  <img class="img_cliente" src="assets/img/clientes/cliente4.png">
                  <img class="d-block ml-auto mr-auto mt-4 img_aspas" src="assets/img/aspas.png">
                </div>
                <h6>Nome do Cliente 4</h6>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4 mb-5">
          <div class="col-12 d-flex align-items-center justify-content-end">
            <button class="btn p-0 rounded-circle mr-2 btn_prev">
              <img style="width: 40px;" src="assets/img/arrow_circle_left_white.png">
            </button>
            <button class="btn p-0 rounded-circle ml-2 btn_next">
              <img style="width: 40px;" src="assets/img/arrow_circle_right_white.png">
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=========== fim avaliacoes ===========-->

  <!-- =========== contato ===========-->
  <!-- <section class="section_contato pt-5" style="overflow: hidden;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 d-block d-md-flex">
          <div class="">
            <div class="pt-3 pl-3 mr-4" style="position: relative; background-image: url('assets/img/circles_2.png'); background-size: 72px 72px; background-repeat: no-repeat;">
              <h1 class="pt-2 px-3 _color_green">Entre <span class="d-md-block" style="white-space: nowrap;">em contato</span></h1>
              <p class="ml-3">Preencha o formulário para entrarmos em contato</p>
            </div>
          </div>
        </div>

        <form method="POST" class="col-12 col-md-6 col-lg-8 mb-5">
          <input type="text" required name="motivo" class="form-control mb-4" placeholder="Qual é o motivo do seu contato?">
          <input type="text" required name="nome" class="form-control mb-4" placeholder="Qual é o seu nome?">
          <input type="email" required name="email" class="form-control mb-4" placeholder="Em qual e-mail podemos entrar em contato com você?">
          <input type="text" required name="telefone" class="form-control mb-4" placeholder="Qual é o seu telefone para contato?">
          <button class="btn text-white w-100 mb-5" style="background-color: #45842E;">Enviar</button>
        </form>
      </div>
    </div>
  </section> -->
  <!--=========== fim contato =========== -->



<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/rSlider.js"></script>
<script src="assets/js/script.js"></script>
