<app-carrousel></app-carrousel>

<section class="w-100">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/percent.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Menor preço do mercado
            </h6>
            <p>
              Sistema inteligente de comparação de preços com atualização
              automática.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/computador.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Maior variedade
            </h6>
            <p>Milhares de itens disponíveis para você escolher.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/store.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              PEDIDO ONLINE
            </h6>
            <p>
              Tecnologia que conecta os principais fornecedores de alimentos no
              atacado com compradores.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/maquina.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Cotação automática de preços
            </h6>
            <p>
              Os preços sofrem variações de acordo com a taxa de câmbio, safra,
              estoque, mal tempo, mas a Prima organiza-os em tempo real.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-products-cart></app-products-cart>

<!--=========== empresas ===========-->
<section
  class="w-100 d-flex align-items-stretch section_empresas"
  style="background-color: #f8f9fa"
>
  <div class="w-25 d-none d-md-block">
    <img
      class="w-100 h-100"
      style="object-fit: cover"
      src="assets/img/img_to_empresas.jpeg"
    />
  </div>
  <div class="w-100 w-md-75 pt-4 px-5 d-flex align-items-center">
    <div class="pl-3 pl-xl-5">
      <h1 class="mb-5">Aprovado por grandes empresas</h1>
      <div class="w-100 d-flex flex-wrap">
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa">
          <img
            class="w-100 img_empresa"
            style="max-width: 230px"
            src="assets/img/empresas/empresa1.png"
          />
        </div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa">
          <img
            class="w-100 img_empresa"
            style="max-width: 230px"
            src="assets/img/empresas/empresa2.png"
          />
        </div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa">
          <img
            class="w-100 img_empresa"
            style="max-width: 230px"
            src="assets/img/empresas/empresa3.png"
          />
        </div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa">
          <img
            class="w-100 img_empresa"
            style="max-width: 230px"
            src="assets/img/empresas/empresa4.png"
          />
        </div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa">
          <img
            class="w-100 img_empresa"
            style="max-width: 230px"
            src="assets/img/empresas/empresa1.png"
          />
        </div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa">
          <img
            class="w-100 img_empresa"
            style="max-width: 230px"
            src="assets/img/empresas/empresa2.png"
          />
        </div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa">
          <img
            class="w-100 img_empresa"
            style="max-width: 230px"
            src="assets/img/empresas/empresa3.png"
          />
        </div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa">
          <img
            class="w-100 img_empresa"
            style="max-width: 230px"
            src="assets/img/empresas/empresa4.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim empresas ===========-->

<!--=========== destaques ===========-->
<section class="section_destaques">
  <div class="container">
    <div class="row">
      <div class="col-12 py-5">
        <h1 class="mb-5 text-center _color_green">Destaque de Mídia</h1>
        <div class="w-100 d-flex flex-wrap justify-content-center">
          <div class="mb-5 mx-4">
            <img
              style="height: 38px"
              src="assets/img/destaques/destaque1.png"
            />
          </div>
          <div class="mb-5 mx-4">
            <img
              style="height: 38px"
              src="assets/img/destaques/destaque2.png"
            />
          </div>
          <div class="mb-5 mx-4">
            <img
              style="height: 38px"
              src="assets/img/destaques/destaque3.png"
            />
          </div>
          <div class="mb-5 mx-4">
            <img
              style="height: 38px"
              src="assets/img/destaques/destaque4.png"
            />
          </div>
          <div class="mb-5 mx-4">
            <img
              style="height: 38px"
              src="assets/img/destaques/destaque5.png"
            />
          </div>
          <div class="mb-5 mx-4">
            <img
              style="height: 38px"
              src="assets/img/destaques/destaque6.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim destaques ===========-->

<!--=========== avaliacoes ===========-->
<section class="section_avaliacoes" style="overflow: hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 d-block d-md-flex">
        <div class="mb-5 pb-5 mb-md-0 pb-md-0 mt-3">
          <div
            class="pt-3 pl-3 mr-4"
            style="
              position: relative;
              background-image: url('assets/img/circles.png');
              background-size: 72px 72px;
              background-repeat: no-repeat;
            "
          >
            <h1 class="bg-white pt-2 px-3 _color_green">
              Avaliações <br /><span style="white-space: nowrap"
                >de clientes</span
              >
            </h1>
            <div class="px-3" style="font-size: 16px; color: #757575">
              <span style="white-space: nowrap">Nós valorizamos o bom</span>
              <br />
              <span style="white-space: nowrap"
                >atendimento e a satisfação</span
              >
            </div>
          </div>
        </div>

        <div class="d-flex cont_avaliacoes">
          <div class="avaliacao">
            <div class="avaliacao_in mr-4 mt-5">
              <div class="cont_img">
                <img
                  class="img_cliente"
                  src="assets/img/clientes/cliente1.png"
                />
                <img
                  class="d-block ml-auto mr-auto mt-4 img_aspas"
                  src="assets/img/aspas.png"
                />
              </div>
              <h6>Nome do Cliente 1</h6>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>
          </div>
          <div class="avaliacao">
            <div class="avaliacao_in mr-4 mt-5">
              <div class="cont_img">
                <img
                  class="img_cliente"
                  src="assets/img/clientes/cliente2.png"
                />
                <img
                  class="d-block ml-auto mr-auto mt-4 img_aspas"
                  src="assets/img/aspas.png"
                />
              </div>
              <h6>Nome do Cliente 2</h6>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>
          </div>
          <div class="avaliacao">
            <div class="avaliacao_in mr-4 mt-5">
              <div class="cont_img">
                <img
                  class="img_cliente"
                  src="assets/img/clientes/cliente3.png"
                />
                <img
                  class="d-block ml-auto mr-auto mt-4 img_aspas"
                  src="assets/img/aspas.png"
                />
              </div>
              <h6>Nome do Cliente 3</h6>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>
          </div>
          <div class="avaliacao">
            <div class="avaliacao_in mr-4 mt-5">
              <div class="cont_img">
                <img
                  class="img_cliente"
                  src="assets/img/clientes/cliente4.png"
                />
                <img
                  class="d-block ml-auto mr-auto mt-4 img_aspas"
                  src="assets/img/aspas.png"
                />
              </div>
              <h6>Nome do Cliente 4</h6>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 mb-5">
        <div class="col-12 d-flex align-items-center justify-content-end">
          <button class="btn p-0 rounded-circle mr-2 btn_prev">
            <img style="width: 40px" src="assets/img/arrow_circle_left.png" />
          </button>
          <button class="btn p-0 rounded-circle ml-2 btn_next">
            <img style="width: 40px" src="assets/img/arrow_circle_right.png" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim avaliacoes ===========-->

<!--=========== modal filtros ===========-->
<div class="modal" id="modal_filtro" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content pl-4 pr-4 border-0" style="border-radius: 15px">
      <div class="modal-header border-0">
        <h5 class="modal-title"><strong>Filtros</strong></h5>
        <button
          type="button"
          style="opacity: 1"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img
            style="width: 20px; color: #000"
            src="assets/img/close_modal.svg"
          />
        </button>
      </div>
      <div class="modal-body border-0">
        <div class="form-group">
          <label>Embalagem</label>
          <select class="form-control">
            <option>Selecionar</option>
          </select>
        </div>
        <div class="form-group">
          <label>Categoria</label>
          <select class="form-control">
            <option>Selecionar</option>
          </select>
        </div>
        <div class="form-group">
          <label>Tipo</label>
          <select class="form-control">
            <option>Selecionar</option>
          </select>
        </div>
        <div class="form-group">
          <label>Preço</label>
          <div class="slider-container pl-2">
            <input type="text" id="slider3" class="slider" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=========== fim modal filtros ===========-->

<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/rSlider.js"></script>
<script src="assets/js/script.js"></script>
