<app-header></app-header>
<app-carrousel></app-carrousel>

<section class="w-100">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/percent.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Menor preço do mercado
            </h6>
            <p>
              Sistema inteligente de comparação de preços com atualização
              automática.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/computador.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Maior variedade
            </h6>
            <p>Milhares de itens disponíveis para você escolher.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/store.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              PEDIDO ONLINE
            </h6>
            <p>
              Tecnologia que conecta os principais fornecedores de alimentos no
              atacado com compradores.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0">
            <img style="width: 31px" src="assets/img/maquina.webp" />
          </div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px">
              Cotação automática de preços
            </h6>
            <p>
              Os preços sofrem variações de acordo com a taxa de câmbio, safra,
              estoque, mal tempo, mas a Prima organiza-os em tempo real.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <products-cart (dataSearch)="search($event)" [productList]="products"></products-cart> -->
<app-publicidade-home></app-publicidade-home>
<app-footer></app-footer>
