<div class="loading" *ngIf="type == 'spinner'">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="loading" *ngIf="type == 'progress'">
  <div class="progress" class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<div *ngIf="type == 'success'" class="spinner-border text-light" role="status">

</div>

<div *ngIf="type == 'danger'" class="spinner-border text-danger" role="status">

</div>
