<form #form (ngSubmit)="submitable ? button.click() : submit()" [class]="innerClass" style="max-width: 419px;" >
  <ng-content></ng-content>

  <div [hidden]="hideButtons" class="form-btns pl-4 pr-4 pb-2 pt-4">
    <div class="form-row d-flex justify-content-center align-items-center" >
      <mn-button [status_loading]="status_loading" #cancel *ngIf="submitable && submitable.cancel && cancelName"
        class="col-6" color="light" (click)="submitable.cancel()" size="sm">
        {{cancelName}}
      </mn-button>
      <mn-button [status_loading]="status_loading" #button [hidden]="!submitable" [class.col-12]="!cancelName"
        [class.col-6]="cancelName" [submitable]="this" size="sm" [type]="'button'">
        {{buttonName}}
      </mn-button>
    </div>
  </div>

  <input type="submit" value="enviar" style="position:absolute;top:-9999px;">
</form>
