<div class="menu_profile">
  <div class="mb-2"><a (click)="replace('profile_data')" [class]="router.url == '/profile/profile_data' ? 'opt_menu_left _active' : 'opt_menu_left'">Meus dados</a></div>
  <div class="mb-2"><a (click)="replace('pedidos')" [class]="router.url == '/profile/pedidos' ? 'opt_menu_left _active' : 'opt_menu_left'">Meus Pedidos</a></div>
  <!-- <div class="mb-2"><a (click)="replace('cotacao')" [class]="router.url == '/profile/cotacao' ? 'opt_menu_left _active' : 'opt_menu_left'">Minhas Contações</a></div> -->
  <div class="mb-2"><a (click)="logOut()" class="opt_menu_left">Sair</a></div>
  <hr class="mt-4 mb-0 d-md-none">
</div>

