<div dropdown *ngIf="type == 'menu_site'">
  <div class="row" style="margin-right: 50px;">
    <div class="col">
      <div ngbDropdown class="d-inline-block">

        <img style="width: 40px;" src="assets/img/menu_green.png" ngbDropdownToggle>

        <div ngbDropdownMenu class="border border-white rounded-0 menu_dropdown">
          <div class="d-md-flex flex-column">
            <a target="_blank" rel="noopener noreferrer" href="https://site.madeinnatural.com.br" class="p-3 item_menu"
              ngbDropdownItem> Nossos Produtos</a>
            <a target="_blank" rel="noopener noreferrer" href="https://company.madeinnatural.com.br"
              class="p-3 item_menu" ngbDropdownItem> Snacks para empresas</a>
            <a target="_blank" rel="noopener noreferrer" href="https://jobber.madeinnatural.com.br"
              class="p-3 item_menu" ngbDropdownItem> Seja Revendedor</a>
            <a target="_blank" rel="noopener noreferrer" href="https://home.madeinnatural.com.br" class="p-3 item_menu"
              ngbDropdownItem> Para sua Casa</a>
            <a target="_blank" rel="noopener noreferrer" href="https://contato.madeinnatural.com.br"
              class="p-3 item_menu" ngbDropdownItem> Fale Cosnosco</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div ngbDropdown *ngIf="type == 'menu_fechamendo'">
  <div class="col">
    <div class="row">
      <div ngbDropdownToggle class="tn_open_menu_fechar_pedido" style="margin-left: 10px;" target="_blank">

        <button class="btn border border-white btn-outline-primary bg-white" style="position: relative;">
          <img cless="btn_green tot_itens_pedido btn" style="height: 23px;" src="assets/img/bag.svg">
          <div class="btn_green tot_itens_pedido dropdown-header" style="color: #ffff;" *ngIf="cartLength > 0">
            {{cartLength}}</div>
        </button>

        <div ngbDropdownMenu >
          <!-- FECHAMANDO DO PEDIDO -->

          <div class="btn cont_valor">
            <div class="d-flex valor ">
              = {{ finalPrice | currency:'BRL':true:'1.2-2'}}
            </div>

            <div class="p-4 w-100" >
              <button ngbDropdownItem
              *ngIf="goCart"
              (click)="goCart()"
              class="btn btn_green w-100 rounded-0 text-uppercase btn_fechar_pedido">
                <a target="_blank" style="color: white;" rel="noopener noreferrer">
                  Fechar Pedido
                </a>
              </button>


              <button ngbDropdownItem
                style="background-color: #ffff;  color: #000000;"
                *ngIf="!userPresent && goPageRegistration"
                class="mt-3 text-center text_n_tem_conta">
                Agradecemos a confiança.
              </button>


              <button ngbDropdownItem
                style="background-color: #ffff;  color: #000000;"
                *ngIf="userPresent && goPageRegistration"
                class="mt-3 text-center text_n_tem_conta">
                Não possui conta? <a (click)="goPageRegistration()" class="_color_green">Cadastre-se</a>
              </button>

            </div>



          </div>

        </div>
      </div>
    </div>
  </div>
 </div>
