
<div dropdown>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
      <img  id="menu" src="assets/img/menu.svg" ngbDropdownToggle>

      <div ngbDropdownMenu class="border border-white rounded-0 menu_dropdown">
        <div class="d-md-flex flex-column">
          <a target="_blank" rel="noopener noreferrer" href="https://site.madeinnatural.com.br" class="p-3 item_menu" ngbDropdownItem> Nossos Produtos</a>
          <a target="_blank" rel="noopener noreferrer" href="https://company.madeinnatural.com.br" class="p-3 item_menu" ngbDropdownItem> Snacks para empresas</a>
          <a target="_blank" rel="noopener noreferrer" href="https://jobber.madeinnatural.com.br" class="p-3 item_menu" ngbDropdownItem> Seja Revendedor</a>
          <a target="_blank" rel="noopener noreferrer" href="https://home.madeinnatural.com.br" class="p-3 item_menu" ngbDropdownItem> Para sua Casa</a>
          <a target="_blank" rel="noopener noreferrer" href="https://contato.madeinnatural.com.br" class="p-3 item_menu" ngbDropdownItem> Fale Cosnosco</a>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
