.dropdown {
  margin-left: 10px;
  margin-right: 50px;
  padding: 0;
}

.item_menu {
  font-weight: 500 !important;
  margin-right: 75px !important;
  color: #202020 !important;;
  font-size: 14px !important;;
}

.mostrar_valor {
  margin-bottom: 50px;
}
