
.item_menu {
  font-weight: 500 !important;
  margin-right: 75px !important;
  color: #202020 !important;;
  font-size: 14px !important;;
  border-radius: 5px !important;
}

.mostrar_valor {
  margin-bottom: 50px;
}

.dropdown-toggle::after{
  display: none;
}
