<ng-template *ngIf="type == 'row' " [ngTemplateOutlet]="row" ></ng-template>

<ng-template #row >
    <div class="row mb-3">
        <div class="col-12 d-block d-md-flex justify-content-between">
            <div class="input-group mb-3 mb-md-0" style="height: 50px; ">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">
                        <img style="height: 22px" src="assets/img/pesquisa.svg" />
                    </span>
                </div>
                <input [(ngModel)]="termo" (keypress)="keyPress($event)" type="text" style="height: auto"
                    placeholder="procure por nome, marca..." class="form-control border-left-0" />
            </div>
            <!-- <button
            class="btn mb-4 ml-md-3 mb-md-0 d-flex align-items-center justify-content-center text-uppercase btn_green"
            style="height: 50px; max-width: 400px;">
            <img style="width: 32px" src="assets/img/filtro.webp" />
            <div class="ml-3 text-white">Filtro Avançado</div>
          </button> -->
        </div>
    </div>
</ng-template>

