<div class="search-bar">
  <div class="input-group">
    <search-bar-button [loading]="loading" class="btn-lupa" ></search-bar-button>
    <input
      [value]="termo"
      (keyup)="keyPress($event)"
      type="text"
      [placeholder]="placeholder"
      class="form-control border-left-0 input-search"
    />
  </div>
  <button class="btn text-uppercase btn_green" (click)="clickAdvencedFilter()">
    <img src="assets/img/filtro.webp" />
    <span class="d-none d-md-inline">Filtro avançado</span>
  </button>
</div>
