* {
  max-height: 8rem;
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
}

.btn-lupa {
  display: contents;
}

input {
  height: auto;
  margin: 0 10px 0 0;
}

// Remover efeito do bootstrap quando clicar no input form
input[type="text"]:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

button {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #fff;
  font-size: .81rem;
  gap: .9rem;
}

.search-bar {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &.show {
    opacity: 1;
  }
}

button span {
  align-self: end !important;
  color: white;
}

button img {
  max-width: 1rem;
  margin: 0;
}
