
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SITE-MADE-IN-NATURAL-primary: mat.define-palette(mat.$indigo-palette);
$SITE-MADE-IN-NATURAL-accent: mat.define-palette(mat.$green-palette, A200, A200, A400);

// The warn palette is optional (defaults to red).
$SITE-MADE-IN-NATURAL-warn: mat.define-palette(mat.$red-palette);

$SITE-MADE-IN-NATURAL-loading: mat.define-palette(mat.$green-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SITE-MADE-IN-NATURAL-theme: mat.define-light-theme((
  color: (
    primary: $SITE-MADE-IN-NATURAL-primary,
    accent: $SITE-MADE-IN-NATURAL-accent,
    warn: $SITE-MADE-IN-NATURAL-warn,
    loading: $SITE-MADE-IN-NATURAL-loading,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SITE-MADE-IN-NATURAL-theme);



// @import '../node_modules/font-awesome/scss/font-awesome';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import 'assets/css/style.css';
// @import 'assets/css/bootstrap.min.css';
@import 'assets/css/calendario.css';
@import 'assets/css/font-awesome.css';
@import 'assets/css/font-awesome.min.css';
@import 'assets/css/rSlider.css';


.global_form {
  box-shadow: none;
  border-bottom: solid 1px #ccc !important;
}

.has-error {
  background-color: red;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
