<section class="w-100">
  <div class="container">
    <div class="row pt-4">
      <div class="d-block m-auto w-100" style="max-width: 460px;">

        <div class="section_register">

          <div class="col-12 mb-4">
            <div class="d-flex justify-content-center">
              <a class="btn" routerLink="/account/login">
                <h3>Login</h3>
              </a>
              <a class="btn _color_green" style="text-decoration: underline;">
                <h3>Cadastro</h3>
              </a>
            </div>
          </div>

          <mn-form #form [submitable]="submit" buttonName="Cadastrar conta" [showToastForm]="true">

            <mn-input [(value)]="formRegister.name" size="sm" archetype="name" placeholder="Nome e sobrenome" required>
            </mn-input>

            <mn-input [(value)]="formRegister.email" #email size="sm" archetype="email" placeholder="E-mail" required>
            </mn-input>

            <mn-input [(value)]="cpf_cnpj" size="sm" archetype="cpf,cnpj" placeholder="CPF/CNPJ" required>
            </mn-input>

            <mn-input [(value)]="formRegister.phone" size="sm" archetype="phone" placeholder="Telefone" required>
            </mn-input>

            <mn-input [(value)]="formRegister.password" #pass size="sm" archetype="password" placeholder="Senha"
              required>
            </mn-input>

          </mn-form>

        </div>

      </div>
    </div>
  </div>
</section>
