<section class="pt-5 pb-5 section_table">
  <div class="container">
    <mn-search (clickAdvencedFilterEvent)="openFiltro()" placeholder="Busque pelo nome do produto" ></mn-search>
    <mat-tab-group (selectedIndexChange)="onTabClick($event)">
        <div class="row">
          <div class="col-12">
            <mat-tab label="Produtos a granel">
              <mn-table [showcases]="productShowcase$" (itemAdd)="addItemCart($event)" (itemRm)="removeItem($event)" ></mn-table>
              <h6 style="font-size: 14px">* Compra minima por forncedor - R$400.00</h6>
            </mat-tab>
            <mat-tab label="Produtos caixa fechada">
              <mn-table [showcases]="productShowcase$" (itemAdd)="addItemCart($event)" (itemRm)="removeItem($event)" ></mn-table>
              <h6 style="font-size: 14px">* Compra minima por forncedor - R$400.00</h6>
            </mat-tab>
          </div>
        </div>
      </mat-tab-group>
    </div>
</section>
