@media screen and (max-width:993px){
  .classe-nova{
     display:none;
  }
}
@media screen and (max-width:431px){
  .esconder-2 {
    display: none;
  }
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 400px;
}

.example-button-row .mat-button-base {
  margin-right: -18px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

// LINHA TEXTO DA COLUNA QUANDO FOR RESOLUÇÃO CELULAR
@media screen and (max-width: 431px) {
  .example-label {
    display: block;
    margin-left: 0;
    min-width: 0;
  }
}
