<!--=========== section tabela ===========-->
<section class="pt-5 pb-5 section_table">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 d-block d-md-flex justify-content-between">
        <div class="input-group mb-3 mb-md-0" style="height: 50px; max-width: 676px">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <img style="height: 22px" src="assets/img/pesquisa.svg" />
            </span>
          </div>
          <input (keypress)="keyUp.next($event)" type="text" style="height: auto"
            placeholder="procure por nome, marca..." class="form-control border-left-0" />
        </div>
        <button id="btn_open_filtro"
          class="btn mb-4 ml-md-3 mb-md-0 w-100 d-flex align-items-center justify-content-center text-uppercase btn_green"
          style="max-width: 320px">
          <img style="width: 32px" src="assets/img/filtro.webp" />
          <div class="ml-3 text-white">Filtro Avançado</div>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <mat-progress-bar *ngIf="loading" [color]="'accent'" mode="indeterminate"></mat-progress-bar>
        <table class="table" rowgroup>
          <thead>
            <tr class="bg-white">
              <th scope="col">Produto</th>
              <th scope="col">Categoria</th>
              <th scope="col">Preço/Unidade</th>
              <th scope="col" class="classe-nova">Unidade</th>
              <th scope="col" class="classe-nova">Adicionar ao carrinho</th>
            </tr>
          </thead>

          <!-- <app-loading class="progress" [type]="'progress'" *ngIf="true"></app-loading> -->
          <tbody *ngIf="listProduct.length != 0 && !loading">
            <tr *ngFor="let product of listProduct ">
              <td scope="row" style="max-width: 200px;">
                <h5>{{product.product_name}}</h5>

                <div class="d-lg-none" style="margin-top: 10px;">
                  <span><h6> Unidade de: {{product.weight}} kg</h6></span>
                  <div class="d-flex pl-2" *ngIf="product.amount && product.amount > 0">
                    <button (click)="removeItem(product)" class="btn btn_remove"><img style="width: 12px;"
                        src="assets/img/minus.svg"></button>
                    <h5 class="mx-2">{{product.amount}}</h5>
                    <button (click)="addItemCart(product)" class="btn btn_remove"><img style="width: 12px;"
                        src="assets/img/add.svg"></button>
                  </div>

                  <div class="example-button-row d-flex" *ngIf="product.amount == 0">
                    <mat-card style="padding-top: -50px !important;">
                      <mat-card-actions align="end">
                        <img style="height: 26px;" src="assets/img/carrinho.svg">
                        <button mat-button>
                          <h6 class="_color_green" (click)="addItemCart(product)">Adicionar ao carrinho</h6>
                        </button>
                      </mat-card-actions>
                    </mat-card>
                  </div>


                </div>
              </td>

              <td scope="row" style="max-width: 200px;">{{product.provider_primary}}</td>
              <td scope="row" style="max-width: 200px;">{{product.price}}</td>
              <td scope="row" class="classe-nova" style="max-width: 200px;">{{product.weight}}</td>

              <td scope="row" class="classe-nova align-items-center">
                <div class="d-flex pl-2" *ngIf="product.amount && product.amount > 0">
                  <button (click)="removeItem(product)" class="btn btn_remove"><img style="width: 12px;"
                      src="assets/img/minus.svg"></button>
                  <h5 class="mx-2">{{product.amount}}</h5>
                  <button (click)="addItemCart(product)" class="btn btn_remove"><img style="width: 12px;"
                      src="assets/img/add.svg"></button>
                </div>

                <div *ngIf="product.amount == 0">
                  <button class="btn d-flex align-items-center">
                    <img style="width: 26px;" src="assets/img/carrinho.svg">
                    <h6 class="_color_green ml-3 mb-0" (click)="addItemCart(product)">Adicionar ao carrinho</h6>
                  </button>
                </div>

              </td>

            </tr>
          </tbody>
        </table>

        <h6 style="font-size: 14px">
          * Compra minima por forncedor - R$400.00
        </h6>

      </div>
    </div>

    <div class="row" *ngIf="listProduct">
      <div class="col-12 mt-4">
        <button class="btn d-block m-auto btn_outline_green" (click)="showProductsAll()">
          VER LISTA COMPLETA
        </button>
      </div>
    </div>
  </div>
</section>
<!--=========== fim section tabela ===========-->


<!--=========== modal filtros ===========-->
<div class="modal" id="modal_filtro" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content pl-4 pr-4 border-0" style="border-radius: 15px">
      <div class="modal-header border-0">
        <h5 class="modal-title"><strong>Filtros</strong></h5>
        <button type="button" style="opacity: 1" class="close" data-dismiss="modal" aria-label="Close">
          <img style="width: 20px; color: #000" src="assets/img/close_modal.svg" />
        </button>
      </div>
      <div class="modal-body border-0">
        <div class="form-group">
          <label>Categoria</label>
          <select class="form-control">
            <option>Selecionar</option>
          </select>
        </div>
        <div class="form-group">
          <label>Unidade</label>
          <select (change)="selectFilterUnidade($event)" class="form-control">
            <option *ngFor="let unidade of unidades">{{unidade.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Preço/Unidade</label>
          <div class="slider-container pl-2">
            <input type="text" id="slider3" class="slider" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=========== fim modal filtros ===========-->


<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/rSlider.js"></script>
<script src="assets/js/script.js"></script>
