<!--=========== modal filtros ===========-->
<div class="border-0">
  <h5 mat-card-titl class="modal-title">
    <strong>Filtro avançado</strong>
    <button (click)="onNoClick()" type="button" style="opacity: 1" class="close" data-dismiss="modal" aria-label="Close">
      <img style="width: 20px; color: #000" src="assets/img/close_modal.svg" />
    </button>
  </h5>

  <div class="modal-body border-0" *ngIf="type == 'CELMAR'">
    <div class="form-group">
      <label> <strong> Categoria Principal </strong></label>
      <select class="form-control" [(ngModel)]="mainCategoryId">
        <option *ngFor="let category of celmarCategories.filterResponse.mainCategory; index as i" value="{{category.id}}"> {{category.name}}</option>
      </select>
      <br>
      <label> <strong> Categoria Secundaria </strong></label>
      <select class="form-control" [(ngModel)]="subCategoryId">
        <option *ngFor="let category of celmarCategories.filterResponse.subCategory; index as i" value="{{category.id}}"> {{category.name}}</option>
      </select>
      <br>
      <label> <strong> Embalagem </strong></label>
      <select class="form-control" [(ngModel)]="packageId">
        <option *ngFor="let category of celmarCategories.filterResponse.packages; index as i" value="{{category.id}}"> {{category.name}}</option>
      </select>
      <br>
      <app-slider-price></app-slider-price>
    </div>
  </div>

</div>

<!--=========== fim modal filtros ===========-->
